transformers==4.28.0
numpy>=1.23.0
gym==0.26.2
torch==1.13.1
torchvision==0.15.2
jax==0.4.13
jaxlib==0.4.13
scipy==1.9.0
opt-einsum==3.3.0
ml-dtypes==0.2.0
opencv-python>=4.1.1
PyYAML>=5.3.1
tqdm>=4.41.0